body {
  background: #cacaca;
}
.container {
  max-width: 600px;
}
input[type=text],
input[type=text]:focus {
  border: none;
  background: #ebeaea;
}
.todos li {
  background: #f1f0f0;
}
.delete {
  cursor: pointer;
}
.filtered {
  display: none !important;
}